*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    color: #333;
}

.steps{
    width: 400px;
    background-color: #f7f7f7;
    border-radius: 7px;
    padding: 25px 100px;
    margin: 100px auto;
}

.numbers{
    display: flex;
    justify-content: space-between;
}

.numbers > div{
    height: 40px;
    aspect-ratio: 1;
    background-color: #e7e7e7;
    border-radius: 50%;
    padding-left: 15px;
    padding-top: 10px;
}

.message{
    text-align: center;
    margin: 20px;
    font-size: 14px;
    font-weight: 600;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons button{
    height: 30px;
    border-radius: 15px;
    padding: 3px;
    border: none;
}